.order-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .order-details-head,
  .order-details-item {
    width: 50%;
    display: flex;
    align-self: flex-end;
    align-items: center;
    border-bottom: 1px solid darkgrey;
    
    .id {
      width: 15%;
    }
    .name,
    .quantity {
      width: 35%;
    }
    .price {
      width: 15%;
    }

    @media screen and (max-width: 800px) {
      width: 90%;
      .id {
        min-width: 12%;
      }
      .name {
        min-width: 42%;
      }
      .quantity {
        min-width: 20%;
      }
      .price {
        width: 70px;
      }
    }
  }

  .order-details-head {
    padding: 10px 0;
  }

  .order-details-item {
    min-height: 50px;
    padding: 15px 0;
    font-size: 20px;
  }
}
