.orders-history-container {
  width: 60%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;

  @media screen and (max-width: 800px) {
    width: 90%
  }

  h2 {
    align-self:flex-start;
  }

  .orders-history-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 28%;
       
      &:first-child,
      &:last-child {
        width: 8%;
      }

      @media screen and (max-width: 800px) {
        &:first-child {
          min-width: 24px;
        }     
        &:nth-child(2) {
          min-width: 42%;
        }
        &:nth-child(3) {
          min-width: 12%;
        }
        &:nth-child(4) {
          min-width: 23%;
        }
        &:last-child {
          min-width: 38px;
        }
      }
    }
  }
  
  .no-orders {
    padding-top: 25px;
    font-size: xx-large;
  }
}
