.order-row-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  padding: 15px 0;
  border-bottom: 1px solid darkgrey;
  font-size: 20px;
  align-items: center;
  
  .nr {
    width: 8%
  }
  .date,
  .total,
  .completed {
    width: 28%;
  }
  .details {
    width: 8%;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    .nr {
      min-width: 24px;
    }
    .date{
      min-width: 42%;
    }
    .total{
      min-width: 18%;
    }
    .completed {
      min-width: 17%;
    } 
    .details {
      min-width: 38px;
    }
  }
}
