.order-row-container {
  width: 100%;
  display: flex;
  min-height: 80px;
  padding: 15px 0;
  border-bottom: 1px solid darkgrey;
  font-size: 20px;
  align-items: center;
  
  .nr {
    width: 8%
  }
  .date,
  .total,
  .completed {
    width: 28%;
  }
  .details {
    width: 8%;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    .date{
      width: 40%;
    }
    .total{
      width: 16%;
    }
    .completed {
      width: 24%;
    } 
    .details {
      width: 12%;
    }
  }
}
