.order-row-container {
  width: 100%;
  display: flex;
  min-height: 80px;
  padding: 15px 0;
  border-bottom: 1px solid darkgrey;
  font-size: 20px;
  align-items: center;
  
  .nr {
    width: 8%
  }
  .item {
    width: 28%;
  }
  .details {
    width: 8%;
    cursor: pointer;
  }
}
